body{
    background-color:antiquewhite;
    color: green;
    box-sizing: border-box;
}

.header{
    margin: 10px;
    margin-bottom: 20px;
}
.logo{
    text-align: center;
}
.logo img{
    width: 50px;
}

.menu{
    text-align: right;
    padding-top: 10px;
    padding-right: 10%;
}
.menu li{
    list-style-type: none;
    display: inline;
    padding: 0px 16px;
}
.menu li a{
    text-decoration: none;
}

/* BODY */
h1, h2{
    text-align: center;
}
.home{
    text-align: center;
    min-height: 400px;
}
.home img{
    max-width: 100%;
    margin: 20px 0px;
}
.home h1{
    color: slateblue;
}
.home h2{
    margin-top: 20px;
}


/* PRODUCTS */
.product_content{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.product{
    flex: 0 0 45%;
    /* display: inline-block;
    width: 45%; */
    height: 400px;
    margin: 2%;
    padding: 5%;
    border: 1px solid;
    text-align: center;
    color: navy;
}
.product h3, .product h4{
    display: inline-block;
}
.pag{
    display: block;
    text-align: center;
}


/* SHOW */
.show{
    text-align: center;
}

.comments{
    text-align: center;
    padding: 5% 0 5% 0;
}

/* CONTACT */
.contact{
    text-align: center;
    margin-top: 10%;
    color: orangered;
    height: 250px;
}

/* LOGIN */
.login{
    text-align: center;
    height: 300px;
}
.login input{
    /* display: block; */
    text-align: center;
    margin-top: 2%;
}
.login button{
    margin-top: 2%;
}

/* FOOTER */
.footer{
    text-align: center;
    margin: 20px 0px;
}
p{
    margin: 0px;
}




/* RESPONSIVE */
@media screen and (max-width: 625px){
    .header{
        font-size: 12px;
        margin: 0px;
    }
    .menu li{
        padding: 0px 12px;
    }

    /* BODY */
    .home{
        text-align: center;
        min-height: 400px;
        font-size: 12px;
    }
    .home img{
        max-width: 100%;
        margin: 10px 0px;
    }
    .home h1{
        font-size: 2rem;
    }
    .home h2{
        margin-top: 10px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 540px){
    .header{
        font-size: 8px;
    }
    .menu li{
        padding: 0px 8px;
    }

    /* BODY */
    .home{
        text-align: center;
        min-height: 400px;
        font-size: 8px;
    }
    .home img{
        max-width: 100%;
        margin: 10px 0px;
    }
    .home h1{
        font-size: 1.5rem;
    }
    .home h2{
        margin-top: 10px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 374px){
    .header{
        font-size: 6px;
    }
    .menu li{
        padding: 0px 6px;
    }

    /* BODY */
    .home{
        text-align: center;
        min-height: 400px;
        font-size: 6px;
    }
    .home img{
        max-width: 100%;
        margin: 10px 0px;
    }
    .home h1{
        font-size: 1.2rem;
    }
    .home h2{
        margin-top: 10px;
        font-size: 0.8rem;
    }
}

